{{- /*gotype: github.com/bendusy/idc-alert-feishu/model.Alert*/ -}}
{{if in .Labels "asset_id"}}**资产**：{{assetLink .Labels.asset_id}}
{{end -}}
{{if in .Labels "severity"}}**严重度**：`{{toUpper .Labels.severity}}`
{{end -}}
{{if in .Labels "source"}}**来源**：`{{.Labels.source}}`
{{end -}}
{{if in .Annotations "summary"}}**摘要**：{{.Annotations.summary}}
{{end -}}
{{if in .Annotations "description"}}{{.Annotations.description}}
{{end -}}
{{if in .Annotations "runbook_url"}}[操作手册]({{.Annotations.runbook_url}})
{{end -}}
{{if isNonZeroDate .StartsAt}}🔥 {{date .StartsAt "Asia/Shanghai"}}{{end -}}
{{- if isNonZeroDate .EndsAt}} → ✅ {{date .EndsAt "Asia/Shanghai"}}{{else}} → 持续中{{end -}}
